[run]
branch = True
source =
    services

[report]
omit =
    apps/*
    **/tests/*
    services/graph-views/samples/*
    services/graph-views/_shared/*
    services/graph-views/db.py
    services/graph-views/it_logging.py
    services/graph-views/metrics.py
    services/graph-views/app.py
    **/__init__.py
exclude_lines =
    if __name__ == "__main__":
    pragma: no cover
