NIFI_ALEPH_API_URL=http://aleph-api.default.svc:8080/api/2/ingest
NIFI_ALEPH_API_KEY=__FROM_K8S_SECRET__
NIFI_WATCH_DIR=/data/incoming/docs
NIFI_SUCCESS_DIR=/data/processed/docs
NIFI_FAILURE_DIR=/data/failed/docs
NIFI_POLL_INTERVAL=30 sec
NIFI_BATCH_SIZE=25
