# Dossier

## Query
{{ query }}

## Entities
{% for e in entities %}- {{ e }}
{% endfor %}

## Graph Selection
Nodes: {{ graphSelection.nodes | join(", ") }}
Edges: {{ graphSelection.edges | join(", ") }}
