fastapi>=0.111
uvicorn>=0.30
opensearch-py>=2.5
python-jose[cryptography]>=3.3
httpx>=0.27
cachetools>=5.3
numpy>=1.24
sentence-transformers==2.2.2
prometheus-client==0.20.*
starlette-exporter==0.15.*
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
